**/.classpath
**/.dockerignore
**/.env.example
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.editorconfig
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/compose.*.y*ml
**/Dockerfile*
**/node_modules
**/vendor
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
!**/composer.json
!**/composer.lock
LICENSE
README.md
README.Docker.md